.main {
    text-align: center;
}

.main label {
    display: block;
    margin-bottom: 20px;
}

.control {
    margin: 0 auto;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: solid 1px rgba(0,0,0,.4);
}

.control:hover:active {
    cursor: all-scroll;
}