.main {
    text-align: center;
}

.source {
    display: inline-block;
    padding: 12px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
}
.source:hover {
    color: #949494;
}