.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.main button {
    background-color: #fff;
    color: #565656;
    border: solid 1px #565656;
    height: 35px;
    width: 130px;
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.main button:hover {
    background-color: #e5e5e5;
}

.main button.active {
    background-color: #565656;
    color: #fff;
}