.App {

}

.content-wrapper {
  padding: 20px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.second-column {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
